{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <br><br>
    <h1 align="center">This is a Rain Blog</h1>
    <div class="content" align="center">
        <p align="center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Sit amet consectetur adipiscing elit ut aliquam. Viverra nibh cras pulvinar mattis nunc sed.
            Sagittis eu volutpat odio facilisis mauris sit amet massa. Nunc consequat interdum varius sit amet mattis
            vulputate enim. Quam quisque id diam vel quam. Facilisi morbi tempus iaculis urna id volutpat. Vitae turpis
            massa sed elementum tempus egestas sed sed risus. Libero justo laoreet sit amet cursus sit amet dictum sit.
            Dui
            id ornare arcu odio. Euismod nisi porta lorem mollis aliquam ut. Et odio pellentesque diam volutpat commodo
            sed
            egestas egestas fringilla. Sed faucibus turpis in eu mi bibendum neque egestas. Lorem ipsum dolor sit amet
            consectetur. Ac placerat vestibulum lectus mauris ultrices eros. Nunc sed id semper risus in. Amet venenatis
            urna cursus eget nunc scelerisque viverra. Sollicitudin nibh sit amet commodo nulla facilisi nullam
            vehicula.
            Aliquet lectus proin nibh nisl condimentum id venenatis. Ullamcorper eget nulla facilisi etiam dignissim
            diam.

            Integer enim neque volutpat ac tincidunt vitae semper quis. Dolor purus non enim praesent elementum
            facilisis
            leo vel fringilla. Mattis vulputate enim nulla aliquet porttitor. Enim lobortis scelerisque fermentum dui
            faucibus in ornare. Sit amet risus nullam eget felis eget. Nisl vel pretium lectus quam id leo in vitae
            turpis.
            Eget nunc lobortis mattis aliquam faucibus purus. Bibendum enim facilisis gravida neque convallis. Ornare
            quam
            viverra orci sagittis eu. Nisl rhoncus mattis rhoncus urna neque. Enim praesent elementum facilisis leo vel
            fringilla est. Tempor commodo ullamcorper a lacus vestibulum sed. Diam maecenas sed enim ut.

            Mus mauris vitae ultricies leo. Tortor condimentum lacinia quis vel eros donec. Egestas sed sed risus
            pretium.
            Faucibus in ornare quam viverra. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant.
            Consectetur adipiscing elit ut aliquam purus sit amet luctus. Ultricies leo integer malesuada nunc. Volutpat
            lacus laoreet non curabitur gravida. Egestas pretium aenean pharetra magna ac placerat. Id leo in vitae
            turpis
            massa sed elementum. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Fermentum
            odio
            eu feugiat pretium nibh ipsum consequat nisl. Elementum tempus egestas sed sed risus pretium quam vulputate
            dignissim. Diam quam nulla porttitor massa id neque.

            Amet luctus venenatis lectus magna fringilla urna. Aenean pharetra magna ac placerat vestibulum lectus
            mauris
            ultrices. Pharetra convallis posuere morbi leo urna molestie at. Nunc vel risus commodo viverra maecenas
            accumsan lacus vel. Bibendum neque egestas congue quisque. Libero volutpat sed cras ornare arcu dui vivamus
            arcu
            felis. Enim sit amet venenatis urna cursus eget nunc scelerisque. Nullam ac tortor vitae purus faucibus
            ornare.
            Ut lectus arcu bibendum at. A condimentum vitae sapien pellentesque habitant morbi tristique. Mattis aliquam
            faucibus purus in massa tempor nec feugiat. Condimentum id venenatis a condimentum vitae sapien
            pellentesque. Ac
            tortor dignissim convallis aenean et tortor. Aliquam malesuada bibendum arcu vitae elementum curabitur.
            Pellentesque id nibh tortor id aliquet lectus proin nibh nisl. Sit amet luctus venenatis lectus magna. Sem
            nulla
            pharetra diam sit amet nisl suscipit adipiscing bibendum. Est pellentesque elit ullamcorper dignissim. In eu
            mi
            bibendum neque egestas congue quisque.

            Proin nibh nisl condimentum id. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Cras
            tincidunt
            lobortis feugiat vivamus at augue eget arcu dictum. Eu mi bibendum neque egestas. Senectus et netus et
            malesuada
            fames ac. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Ultrices sagittis orci
            a
            scelerisque purus semper eget duis at. Sem fringilla ut morbi tincidunt augue interdum. Nulla facilisi etiam
            dignissim diam. Adipiscing elit ut aliquam purus sit. Massa enim nec dui nunc mattis enim ut tellus.
            Vestibulum
            lectus mauris ultrices eros. Purus gravida quis blandit turpis cursus. Sed vulputate odio ut enim. Aenean
            vel
            elit scelerisque mauris pellentesque pulvinar pellentesque. Augue ut lectus arcu bibendum at varius. Lacus
            sed
            turpis tincidunt id aliquet risus feugiat in. Vel pretium lectus quam id leo in vitae. Dolor sed viverra
            ipsum
            nunc aliquet bibendum enim. Integer enim neque volutpat ac tincidunt vitae semper.
        </p>
    </div>
{% endblock %}


